<input type="number" [(ngModel)]="ids">
<button (click)="carregar()">Carregar</button><br>
<h1 *ngIf="(error | async)">Tás doido?! Num tem esse ID não.</h1>
<span *ngIf="(loaded | async); else loading">
    <ul class="list-group">
        <li class="list-group-item list-group-item-action">Nome: {{(starState | async)?.name}}</li>
        <li class="list-group-item list-group-item-action">Altura: {{(starState | async)?.height}} cm</li>
        <li class="list-group-item list-group-item-action">Peso: {{(starState | async)?.mass}} kg</li>
        <li class="list-group-item list-group-item-action">Cor do cabelo: {{(starState | async)?.hair_color}}</li>
        <li class="list-group-item list-group-item-action">Cor da pele: {{(starState | async)?.skin_color}}</li>
        <li class="list-group-item list-group-item-action">Cor dos olhos: {{(starState | async)?.eye_color}}</li>
        <li class="list-group-item list-group-item-action">Gênero: {{(starState | async)?.gender}}</li>
        <li class="list-group-item list-group-item-action">Planeta natal: {{(planeta | async)}}</li>
        <li class="list-group-item list-group-item-action">Aparece nos filmes:
            <ul class="list-group">
                <li class="list-group-item list-group-item-action" *ngFor="let filme of (filmes | async)">{{filme}}</li>
            </ul>
        </li>
        <li class="list-group-item list-group-item-action">Espécies:
            <ul class="list-group">
                <li class="list-group-item list-group-item-action" *ngFor="let especie of especies">{{especie}}</li>
            </ul>
        </li>
        <li class="list-group-item list-group-item-action">Veículos
            <ul class="list-group">
                <li class="list-group-item list-group-item-action" *ngFor="let veiculo of veiculos">{{veiculo}}</li>
            </ul>
        </li>
        <li class="list-group-item list-group-item-action">Naves
            <ul class="list-group">
                <li class="list-group-item list-group-item-action" *ngFor="let nave of naves">{{nave}}</li>
            </ul>
        </li>
        <li class="list-group-item list-group-item-action">Inserido em {{(starState | async)?.created}}</li>
        <li class="list-group-item list-group-item-action">Editado em {{(starState | async)?.edited}}</li>
    </ul>
</span>
<ng-template #loading>Loading</ng-template>