<!--<h1>Oi, eu sou o projeto {{title}}</h1>

<p>O professor {{getNome()}} {{sobrenome}} tem {{multiplica(10)}} anos de idade.</p>

<button (click)="grite()">Clique aqui</button>

<input type="text" [(ngModel)]="sobrenome">

<app-qualquer></app-qualquer>

<form>
<app-caixaexemplo ph="nome"
		  pattern="/^[a-zA-Z\s]*$/"
		  (clicou)="oInputFoiClicado($event)"></app-caixaexemplo>
<app-caixaexemplo ph="senha"></app-caixaexemplo>
<app-caixaexemplo ph="idade"></app-caixaexemplo>

<button type="submit">enviar</button>
</form>
<hr>
<app-calculadora></app-calculadora>-->

<app-pomodoro></app-pomodoro>