<!--<h1>Oi, eu sou o projeto {{title}}</h1>

<p>O professor {{getNome()}} {{sobrenome}} tem {{multiplica(10)}} anos de idade.</p>

<button (click)="grite()">Clique aqui</button>

<input type="text" [(ngModel)]="sobrenome">

<app-qualquer></app-qualquer>

<form>
<app-caixaexemplo ph="nome"
		  pattern="/^[a-zA-Z\s]*$/"
		  (clicou)="oInputFoiClicado($event)"></app-caixaexemplo>
<app-caixaexemplo ph="senha"></app-caixaexemplo>
<app-caixaexemplo ph="idade"></app-caixaexemplo>

<button type="submit">enviar</button>
</form>
<hr>
<app-calculadora></app-calculadora>-->
<ul class="nav nav-tabs">
	<!-- 
		<a routerLink="/"> -> O routerLink é uma diretiva em que o Angular intercepta a rota do link e não envia
			request para o backend, mas atualiza o render para o componente correto para a rota. Importante:
			se começarmos com / ele encara como caminho absoluto. Se não, como relativo ao componente ativo atual.

		routerLinkActive -> classe css a utilizar quando a rota em questão for a ativa.
	 -->
	<li class="nav-item" routerLinkActive="active"><a class="nav-link" href="/">Request é enviado</a></li>
	<li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><a class="nav-link" routerLink="/">Request não é enviado</a>
	</li>
	<li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="/outra">Outra</a></li>
	<li class="nav-item" routerLinkActive="active"><a routerLink="/swp" class="nav-link">Star wars person</a></li>
</ul>

<!-- O router-outlet é uma diretiva do Angular que será substituida pelo componente da rota ativa.
	(lembra lá do path e component) -->
<router-outlet></router-outlet>