div.tela {
    display: flex;
    flex-direction: row;
}
div.relogio {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: darkgrey;
}
div.config {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: darkcyan;
}

@media (max-width: 600px) {
    div.tela {
      flex-direction: column;
    }
  }


