div.relogio {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: darkgrey;
}
div.tela {
    font-size: 5em;
    padding: 1em;
    color: ivory;
}

div.botao > button{
    background-color: olive;
    color: white;
    font-size: 2em;
    border-radius: 4px;
    padding: 10px;
}